<Card Margin="Margin.Is4">
    <CardBody>
        <CardTitle Size="3">@ImageSet.Title</CardTitle>
        <CardText>@ImageSet.Description</CardText>
    </CardBody>
    <Button Color="Color.Primary" Margin="Margin.Is2">
        Play
    </Button>
</Card>

@code {

    [Parameter]
    public ImageSet ImageSet { get; set; } = null!;

}