@page "/"
@inherits MvvmComponentBase<IndexPageViewModel>

<div>
    <DisplayHeading Size="DisplayHeadingSize.Is1">LocationGuesser</DisplayHeading>
    <Heading Size="HeadingSize.Is4">Select a set to play</Heading>
    @if (Bind(x => x.IsLoading))
    {
        <p>Loading</p>
    }
    else if (Bind(x => x.IsError))
    {
        <p>Error</p>
        <p>Something went wrong...</p>
    }
    else if (Bind(x => x.ImageSets) != null)
    {
        <CardDeck>
            @foreach (var set in Bind(x => x.ImageSets!))
            {
                <ImageSetCard ImageSet="@set" />
            }
        </CardDeck>
    }
</div>