@page "/"
@inherits MvvmComponentBase<IndexPageViewModel>

<div class="text-center px-3">
    <h1 class="my-4 text-6xl text-white font-extrabold leading-tight">LocationGuesser</h1>
    <h4 class="text-md">Select a set to play</h4>
    @if (Bind(x => x.IsLoading))
    {
        <p>Loading</p>
    }
    else if (Bind(x => x.IsError))
    {
        <p>Error</p>
        <p>Something went wrong...</p>
    }
    else if (Bind(x => x.ImageSets) != null)
    {
        <div class="flex flex-wrap">
            @foreach (var set in Bind(x => x.ImageSets!))
            {
                <ImageSetCard ImageSet="@set" />
            }
        </div>
    }
</div>